* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/capa\ ferraço.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 17px;
    color: white;
}

.botao-conheça {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.botao-conheça:hover {
    border: 1px solid red;
    background: red;
    transition: 1s;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 30px;
    }

    .nav-links ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links {
        position: static;
        display: none;
        width: 100%;
        text-align: center;
        background: red;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links ul {
        padding: 20px;
    }

    .nav-links ul li {
        display: block;
        margin-bottom: 10px;
    }

    .botao-conheça {
        display: block;
        margin: 20px auto;
    }
}

.material {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: grey31;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.material-coluna {
    flex-basis: 31%;
    background: LightBlue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.material-coluna:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.instalações {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.instalações-coluna {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.instalações-coluna img {
    width: 100%;
    border-radius: 10px;
}

.instalações-coluna p {
    padding: 0;
}

.instalações-coluna h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.comentários {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.comentários-coluna {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: LightBlue;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.comentários-coluna img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.comentários-coluna p {
    padding: 0;
}

.comentários-coluna h3 {
    margin-top: 15px;
    text-align: left;
}

@media(max-width: 700px) {
    .comentários-coluna img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/* segunda pagina */

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/capaFerraçoLink.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sobre-nós {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.sobre-coluna {
    flex-basis: 48%;
}

.sobre-coluna img {
    width: 100%;
}

.sobre-coluna h1 {
    padding-top: 0;
}

.sobre-coluna p {
    padding: 15px 0 25px;
}

.botao-explorar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid LightBlue;
    color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.botao-explorar:hover {
    background-color: #3498db;
    color: #fff;
}

/* terceira pagina */

